app_domain(padsettings_app)

# Allow padsettings_app to find *_service
allow padsettings_app app_api_service:service_manager find;

hal_client_domain(padsettings_app, hal_touchfeature)

# Allow padsettings_app read and write /data/data subdirectory
allow padsettings_app system_app_data_file:dir create_dir_perms;
allow padsettings_app system_app_data_file:{ file lnk_file } create_file_perms;

# Allow padsettings_app to read and write to cgroup
allow padsettings_app cgroup:file rw_file_perms;

# Allow binder communication with hal_touchfeature
binder_call(padsettings_app, hal_touchfeature)

# Allow padsettings_app to read and write sysfs_keyboard_status
allow padsettings_app sysfs_keyboard_status:file rw_file_perms;

# Allow padsettings_app to access uevent
allow padsettings_app self:netlink_kobject_uevent_socket { bind create read setopt };

# Allow padsettings_app to access headset button prop
get_prop(padsettings_app, audio_headset_button_profile_prop)
set_prop(padsettings_app, audio_headset_button_profile_prop)
